.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    column-gap: 10px;
}

.character_item_info {
    display: flex;
    justify-content: space-around;
}

.character__item {
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 8%;
    transition: all 400ms ease;
    text-align: center;
    margin: 5px 0px;
    background-color: rgb(247, 244, 239);
}

.character--title {
    color: #8E3200;
    font-weight: 500;
}

.character__item:hover {
    background: transparent;
    background-color: wheat;
}

button {
    border: none;
    background: none;
}

.image {
    border-radius: 50px;
    overflow: hidden;
    height: 300px;
    width: auto;
    display: inline-block;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

button {
    font-size: 25px;
    cursor: pointer
}

@media only screen and (max-width: 1600px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .characterDetailsInfo {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}