.imageCharacter {
  margin-top: 10px;
  text-align: center;
}

.characterDetailsInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.link {
  margin: 0px 5px;
  text-decoration: none;
  color: #662503;
}

.characterDetailsInfoChild {
  background-color: rgb(247, 227, 203);
  min-width: 50%;
  width: fit-content;
  padding: 0 10px;
  border-radius: 15px;
}

.characterDetailsInfoChild:hover {
  background: transparent;
  background-color: wheat;
}

@media only screen and (max-width: 1000px) {
  .characterDetailsInfo {
    grid-template-columns: 1fr;
    margin: 10px 0;
    gap: 10px;
  }
}