.footer {
  border-top: 1px solid rgb(212, 181, 122);
  border-radius: 5px;
  margin-top: 10PX;
  height: 100px;
  text-align: center;
  padding: 5px;
  background-color: rgb(247, 244, 239);
  color: #8E3200;
}

.footer:hover {
  background: transparent;
  background-color: wheat;
}